@tailwind base;
@tailwind components;
@tailwind utilities;

@property --from-color {
  syntax: "<color>";
  initial-value: theme("colors.red.primary.900");
  inherits: false;
}

@property --to-color {
  syntax: "<color>";
  initial-value: theme("colors.red.primary.900");
  inherits: false;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  @apply transition-colors;
  background: theme("colors.red.primary.800");
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.red.primary.900");
}

h1,
h2 {
  @apply bg-clip-text font-bold text-transparent;
}
h1,
h2,
.heading-white {
  @apply bg-gradient-to-br from-red-primary-400 to-red-primary-500;
}
h1 {
  @apply text-[2.5rem] md:text-[2.75rem] lg:text-[3rem] xl:text-[3.5rem] 2xl:text-[3.75rem];
}
h2 {
  @apply text-3xl md:text-[2.4rem] lg:text-[2.55rem] xl:text-[3rem];
}
.heading-white {
  @apply bg-gradient-to-br from-white to-grey-100;
}

.container-small,
.container-small-left,
.container-small-right {
  @apply container;
  --small-px: theme("container.padding");
  --small-px-left: var(--small-px);
  --small-px-right: var(--small-px);
  padding-left: var(--small-px-left);
  padding-right: var(--small-px-right);
}
@media screen(md) {
  .md\:container-small {
    @apply container;
    --small-px: theme("container.padding");
    --small-px-left: var(--small-px);
    --small-px-right: var(--small-px);
    padding-left: var(--small-px-left);
    padding-right: var(--small-px-right);
  }
}
@media screen(lg) {
  .container-small,
  .md\:container-small {
    --small-px: 6.375rem;
  }
  .container-small-left {
    --small-px-left: 6.375rem;
  }
  .container-small-right {
    --small-px-right: 6.375rem;
  }
}
@media screen(xl) {
  .container-small,
  .md\:container-small {
    --small-px: 9.375rem;
  }
  .container-small-left {
    --small-px-left: 9.375rem;
  }
  .container-small-right {
    --small-px-right: 9.375rem;
  }
}

.btn {
  @apply relative select-none rounded-[3px] px-6 py-1.5 text-lg font-semibold transition-colors after:absolute after:inset-0 after:-z-10 after:h-full after:w-full after:translate-x-0.5 after:translate-y-0.5 after:rounded-[3px] after:border-4 after:border-red-primary-400 after:opacity-50 after:transition-all;
}
.btn-primary {
  @apply relative bg-red-primary-400 text-white after:border-[5px] hover:bg-red-primary-500 hover:after:translate-x-1 hover:after:translate-y-1;
}
.btn-secondary {
  @apply px-7 text-red-primary-400 outline outline-[3px] -outline-offset-[3px] outline-red-primary-400 after:translate-x-[1.5px] after:translate-y-[1.5px] after:border-[5px] hover:bg-red-primary-500 hover:text-white hover:outline-red-primary-500 hover:after:translate-x-1 hover:after:translate-y-1;
}
.h-dynamic-hero {
  @apply h-[80svh] h-[80vh] min-h-[30rem];
}
.h-dynamic-bottom {
  @apply h-[10svh] h-[10vh] min-h-[5rem];
}
.h-dynamic-screen {
  @apply h-screen h-svh;
}
.h-screen-fallback {
  @apply h-dvh h-screen;
}
