@tailwind base;
@tailwind components;
@tailwind utilities;

@property --from-color {
  syntax: '<color>';
  initial-value: theme("colors.red.primary.900");
  inherits: false;
}

@property --to-color {
  syntax: '<color>';
  initial-value: theme("colors.red.primary.900");
  inherits: false;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  @apply transition-colors;
  background: theme("colors.red.primary.800");
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: theme("colors.red.primary.900");
}

.container-small {
  @apply container;
  --px: theme("container.padding");
  padding-left: var(--px);
  padding-right: var(--px);
}
@media screen(lg) {
  .container-small {
    --px: 9.375rem;
  }
}

.btn {
  @apply text-lg relative select-none px-6 py-1.5 font-semibold rounded-[3px] after:w-full after:h-full after:inset-0 after:absolute after:-z-10 after:rounded-[3px] after:translate-x-0.5 after:translate-y-0.5 after:opacity-50 after:border-4 after:border-red-primary-400;
}
.btn-primary {
  @apply relative bg-red-primary-400 text-white;
}
.btn-secondary {
  @apply outline-red-primary-400 px-7 outline-[3px] outline -outline-offset-[3px] text-red-primary-400 after:translate-y-[1.5px] after:translate-x-[1.5px];
}
.h-dynamic-hero {
  @apply h-[80vh] h-[80svh] min-h-[30rem];
}
.h-dynamic-bottom {
  @apply h-[10vh] h-[10svh] min-h-[5rem];
}
.h-dynamic-screen {
  @apply h-screen h-svh;
}